.git
.gitignore
.github
.next
node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml
.env
.env.local
.env.*.local
.env.production
.env.production.local
.env.development
.env.development.local
.env.test
.env.test.local
*.log
.DS_Store
data
prisma/*.db
prisma/*.db*
prisma/tmp.sql
coverage
.vercel
.idea
.vscode
.turbo
README.md
LICENSE
docker-compose.yml
tmp
temp
