node_modules
.next
out
.env
.env.local
.env.*.local
.env.production
.env.production.local
.env.test
.env.test.local
.env.development
.env.development.local
.DS_Store
/data
prisma/dev.db
prisma/*.db
prisma/*.db*
prisma/tmp.sql
*.sqlite
*.sqlite-*
*.log
*.pid
logs
coverage
.vercel
.idea
.vscode
.turbo
tmp
temp
docker-compose.override.yml
npm-audit-report.json
